<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>
	<system.serviceModel>
		<services>
			<service name="WcfService2.Service1">
				<endpoint address="" binding="webHttpBinding" contract="WcfService2.IService1" behaviorConfiguration="web">
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:18780/Service1.svc/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="web">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" />
	</system.webServer>
<connectionStrings><add name="PokemonReviewEntities" connectionString="metadata=res://*/PokemonModel.csdl|res://*/PokemonModel.ssdl|res://*/PokemonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-1OB7IE1N\SQLEXPRESS;initial catalog=PokemonReview;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
